<section class="container-fluid"></section>
<section class="container" id="contactUs">
  <div class="row">
    <div class="col-sm-6 col-md-4 bgAquaNation">
      <div class="align-item-center mx-3 my-3 newWhite" id="contactDetails">
        <h2>Contact Details</h2>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          reprehenderit conse</span
        >
        <ul class="list-unstyled g-0 p-0 my-4">
          <li class="my-4">
            <div class="d-flex">
              <span class="bi bi-house fs-4 me-3"></span>
              <span>
                <span class="fw-semibold">Office Address</span> <br />
                73 Ringer House Lane, Dynatis Newyork 33022, USA
              </span>
            </div>
          </li>
          <li class="my-4">
            <div class="d-flex">
              <span class="bi bi-envelope-open fs-4 me-3"></span>
              <span
                ><span class="fw-semibold">Email Address</span> <br />
                <a
                  href="mailto:josepeniola28@gmail.com"
                  class="text-decoration-underlined newWhite"
                  >hello@josephautos!</a
                ></span
              >
            </div>
          </li>
          <li class="my-4">
            <div class="d-flex">
              <span class="bi bi-telephone-inbound fs-4 me-3"></span>
              <span
                ><span class="fw-semibold">24/7 Helpline</span> <br />
                73 Ringer House Lane, Dynatis Newyork 33022, USA</span
              >
            </div>
          </li>
        </ul>
        <ul class="list-unstyled p-0 d-flex justify-content-between my-4">
          <li>
            <span class="bi bi-twitter fs-4"></span>
          </li>
          <li>
            <span class="bi bi-instagram fs-4"></span>
          </li>
          <li>
            <span class="bi bi-linkedin fs-4"></span>
          </li>
          <li>
            <span class="bi bi-facebook fs-4"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="my-3 mx-4" id="contactForm">
        <p class="text-muted" style="font-size: 14px">WeAreCarsProvider</p>
        <h2 class="zodiacConstellation" style="font-size: 30px">
          Send a Message
        </h2>
        <!-- form goes here -->
        <form action="">
          <div class="row">
            <div class="col-sm-6 form-floating my-2">
              <input
                type="text"
                placeholder="name"
                class="form-control rounded-0 bgAnotherWhite"
              />
              <label for="floatingInput" class="ms-3">First Name</label>
            </div>
            <div class="col-sm-6 form-floating my-2">
              <input
                type="text"
                placeholder="last name"
                class="form-control rounded-0 bgAnotherWhite"
              />
              <label for="floatingInput" class="ms-3">Last Name</label>
            </div>
            <div class="col-sm-6 form-floating my-2">
              <input
                type="email"
                placeholder="email"
                class="form-control rounded-0 bgAnotherWhite"
              />
              <label for="floatingInput" class="ms-3"> Email</label>
            </div>
            <div class="col-sm-6 form-floating my-2">
              <input
                type="tel"
                placeholder="telephone"
                class="form-control rounded-0 bgAnotherWhite"
              />
              <label for="floatingInput" class="ms-3">Telephone</label>
            </div>
            <div class="col-sm-12 my-2">
              <textarea
                class="form-control rounded-0 bgAnotherWhite"
                name="message"
                id="suggestion"
                rows="8"
                placeholder="Message"
              ></textarea>
            </div>
            <div class="col-sm-3 my-3">
              <button
                class="btn btn-md text-uppercase white bgZodiac"
                style="border-radius: 2.25px"
              >
                Send now
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
