<section class="container-fluid" id="aboutCover">
  <div class="">
    <nav aria-label="breadcrumb" class="mx-5">
      <ol class="breadcrumb text-uppercase">
        <li class="breadcrumb-item">
          <a class="newWhite" routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active newWhite" aria-current="page">
          About
        </li>
      </ol>
      <h1 class="mb-3 p-3 white" style="border-left: 3.25px solid #fc8947">
        Who We Are
      </h1>
    </nav>
  </div>
</section>
<section class="container my-5" id="about">
  <div class="row d-flex justify-content-center">
    <div
      class="col-sm-6 col-md-4 img img-2 rounded-3 g-1"
      id="bgAbout"
      style="background-image: url(assets/images/vacation.jpg)"
    ></div>
    <div class="col-sm-6 col-md-5">
      <div class="my-3 align-item-center mx-5">
        <span
          class="text-uppercase"
          style="letter-spacing: 1.25px; font-size: 13px"
          >about us</span
        >
        <h2 class="my-2 fw-bold">Best Experience Of Traveling</h2>
        <p style="font-size: 14px; letter-spacing: 1px">
          On her way she met a copy. The copy warned the Little Blind Text, that
          where it came from it would have been rewritten a thousand times and
          everything that was left from its origin would be the word "and" and
          the Little Blind Text should turn around and return to its own, safe
          country. But nothing the copy said could convince her and so it didn’t
          take long until a few insidious Copy Writers ambushed her, made her
          drunk with Longe and Parole and dragged her into their agency, where
          they abused her for their.
        </p>
        <p class="pt-3">
          <a href="#" class="btn btn-md rounded-1 bgZodiac white"
            >Search vehicle</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
